<h2 class="button-header"> Tools </h2>
<button 
[ngClass]="{'selectedButton': selectedTool.getName() == 'selector', 'selectableButton': selectedTool.getName() != 'selector'}"
(click)="click()">
    Selector
</button>
<button 
[ngClass]="{'selectedButton': selectedTool.getName() == 'square', 'selectableButton': selectedTool.getName() != 'square'}"
(click)="click()">
    Square
</button>
<button 
[ngClass]="{'selectedButton': selectedTool.getName() == 'circle', 'selectableButton': selectedTool.getName() != 'circle'}"
(click)="click()">
    Circle
</button>
<button
[ngClass]="{'selectedButton': selectedTool.getName() == 'line', 'selectableButton': selectedTool.getName() != 'line'}"
(click)="click()">
    Line
</button>
<button 
[ngClass]="{'selectedButton': selectedTool.getName() == 'pencil', 'selectableButton': selectedTool.getName() != 'pencil'}"
(click)="click()">
    Pencil
</button>
<button 
[ngClass]="{'selectedButton': selectedTool.getName() == 'remove', 'selectableButton': selectedTool.getName() != 'remove'}"
(click)="click()">
    Remove
</button>